.form-container{
    border: 1px solid;
    padding: 20px 0px;
    background-image: url('https://picsum.photos/1100/400');
}

.form-outer{
    width: 400px;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.366);
}

.form-control{
    border: 1px solid maroon;
    padding: 10px;
    margin: 10px 0px ;
    border-radius: 10px;
    .form-item{
        width: 100%;
        background: transparent;
        font-size: 14px;
        border: none;
        outline: none;
        
    }

    .form-item::placeholder {
        color: maroon; 
        /* Or any color you prefer */
        opacity: 0.8;
         /* Ensures full visibility in some browsers */
    }
}
.form-button input[type='submit']{
    background: transparent; 
    /* Modifications  */
    border: none;
    input{
        background-color: none;
    }
}

h2:hover{
    color: green;
}

